<h1>{{ tires.size }} {{ tires.brand }} {{ tires.model }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>Price: {{ tires.price }} руб.</li>
    <li>Страна: {{ tires.country }} </li>
    <li>Нагрузка: {{ tires.tech }} </li>
    <li>Тип шины: {{ tires.class_tire }}</li>
    <li>Активно: {{ tires.active }}</li>
    <li>Строение: {{ tires.arch }}</li>
    <li>Sort {{ tires.sort }}</li>
    <li>Дата публикации: {{ tires.pub_date }}</li>
    <li>ЧПУ: {{ tires.slug }}</li>
</ul>
